body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
  background-color: white;

  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.black-button {
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;

  background-color: #151C22;
  padding: 25px;
  cursor: pointer;
}

.section-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  margin: 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 67px;
}

.show-more {
  font-weight: 600;
  color: #151C22;
  border-bottom: 2px solid #151C22;
}